/*
    Steven Tran
    Assignment 7, 2018
    UofT SCS Coding Bootcamp
*/

h5{
    text-align: center;
}

/*Class*/
.gameBox{
    min-height: 30vh;
    border: 4px inset gray;
}

.choiceZone{
    width: 100%;
    text-align: center;
    margin-bottom: 1vh;
}

/*ID*/
#titleBar{
    text-align: center;
    border: 4px inset gray;
    margin-bottom: 3vh;
}

#mainHeader{
    font-size: 5vh;
}

#messageList{
    height: 20vh;
    resize: none;
}

#gameArea{
    text-align: center;
    margin-bottom: 5vh;
}

/*Media Queries*/
@media only screen and (max-width: 600px) {
    #mainHeader{
        font-size: 20px;
    }
    h5{
        font-size: 15px;
        text-align: center;
    }
    p{
        font-size: 10px;
    }
}